html{
    font-size: 14px;
}

@media (min-width: 768px){
    html{
        font-size: 16px;
    }
}

.container{
    max-width: 960px;
}

.team{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 2rem;
}

.card-deck .card{
    min-width: 220px;
}

.card-text{
    padding-top: 1rem;
}

.card-block{
    min-height: 220px;
}

.active{
    border-bottom: 1px solid #000000;
}




































